<div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="/">
                        <img src="images/footer_logo.png" alt="Footer Logo">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h4>Designs</h4>
                <p class="link-text">
                    <a class="text-white" href="/statistic">Residential</a>
                    <br><br><a class="text-white" href="/contact-us">Office</a>
                    <br><br><a class="text-white" href="/gallery">Restaurant</a>
                    <br><br><a class="text-white" href="/help">Showroom</a>
                    <br><br><a class="text-white" href="/help">Boutique</a>
                </p>
            </div>
            
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h4>Links</h4>
                <p class="link-text">
                    <a class="text-white" href="/">Home</a>
                    <br><br><a class="text-white" href="/contact-us">Contact Us</a>
                    <br><br><a class="text-white" href="/gallery">Gallery</a>
                    <br><br><a class="text-white" href="/">Home</a>
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h4>Links</h4>
                <p class="link-text">
                    <a class="text-white" href="/">Home</a>
                    <br><br><a class="text-white" href="/contact-us">Contact Us</a>
                    <br><br><a class="text-white" href="/gallery">Get Free Estimate</a>
                    <br><br><a class="text-white" href="/">Design Consultation</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>

            <div class="media-container-row">
                <div class="col-sm-6 copyright">
                    <p class="display-7">
                        © Copyright
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fa fa-facebook" style="color: #fff"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fa fa-twitter" style="color: #00aced"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fa fa-instagram" style="color: #125688"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fa fa-linkedin" style="color: #007bb5"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fa fa-youtube" style="color: #bb0000"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fa fa-google-plus" style="color: #dd4b39"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fa fa-stack-overflow" style="color: #ff5700"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fa fa-comments" style="color: #3b5998"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>