<!-- <div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/statistic">Statistic</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
      <li><a href="/contact-us">Recent Designs</a></li>
      <li class="drop">
        <a href="/about-us">About Us</a>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <ul>
              <li>ABOUT ME</li>
              <li>ABOUT ME</li>
              <li>ABOUT ME</li>
              <li>ABOUT ME</li>
            </ul>
          </div>
        </div>
      </li>
      <li><a href="/help">Help</a></li>
      <li><a href="/help">What we do</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="#">Log In</a></li>
    </ul>
</div> -->

<!-- <nav class="cl-effect-1">
          <div class="media-wrap" style="float: left;margin-top: -8px;">
            <img src="images/footer_logo.png" ng-href='#/' alt="Footer Logo" style="float: left;height: 28px;width: 100px;">
          </div>
          <a href="/gallery">Gallery</a>
          <a href="/about-us">About Us</a>
          <a href="/contact-us">Contact Us</a>
          <a href="/articles">Articles</a>
          <a href="#">Projects</a>
          <a href="#">Login/Sign Up</a>
        </nav> -->
<div id="main-nav" class="affix">

    <nav class="navbar cl-effect-1">
      <div class="container">

        <div class="navbar-header">
          <a href="/" class="navbar-brand">My Logo</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ftheme">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse" id="ftheme">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/">home</a></li>
            <li class=""><a href="/gallery">Gallery</a></li>
            <li class=""><a href="/about-us">About Us</a></li>
            <li class=""><a href="/contact-us">Contact Us</a></li>
            <li class=""><a href="/articles">Articles</a></li>
            <li class=""><a href="/help">What we do</a></li>
          </ul>
        </div>

        <div class="search-form" style="display:none;">
          <form>
            <input type="text" id="s" size="40" placeholder="Search...">
          </form>
        </div>

      </div>
    </nav>
  </div>