<div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/statistic">Statistic</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
      <li><a href="/contact-us">Recent Designs</a></li>
      <li class="drop">
        <a href="/about-us">About Us</a>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <ul>
              <li>ABOUT ME</li>
              <li>ABOUT ME</li>
              <li>ABOUT ME</li>
              <li>ABOUT ME</li>
            </ul>
          </div>
        </div>
      </li>
      <li><a href="/help">Help</a></li>
      <li><a href="/help">What we do</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="#">Log In</a></li>
    </ul>
</div>